* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 5%;
    background-color: rgba(1, 1, 1, 0, 8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.navbar .navbar-logo {
    opacity: 70%;
}

.navbar .navbar-logo:hover {
    opacity: 100%;
}

.navbar .navbar-nav a {
    color: grey;
    padding: 1.5rem;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    mix-blend-mode: difference;
}

.navbar .navbar-nav a:hover:not(.active) {
    color: #eca457;
}

.navbar .navbar-nav .active {
    color: white;
}

/* FOOTER */

.footerBottom {
    z-index: -999;
    background-color: #000;
    padding: 10px;
    text-align: center;
}

.footerBottom p {
    color: grey;
}

/* Media Queries */


/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 80%;
    }
}